<div class="container">
	<div class="row">
		<div class="col s12">
		   <h5 class="white-text">Togather</h5>
		</div>		
	</div>

	<div class="row">
		<div class="card col s7">
			<h3>This week</h1>
			<div class="col s7">
				placeholder for calendar events
			</div>
		</div>
		<div class="card col s4">
			<h3> News </h3>
		</div>
	</div>
</div>

<div><%= link_to 'New Event', new_event_path %></div>
<div><%= link_to 'Post', new_post_path %></div>