<div class="container" style="width:90%">
	<div class="row">
		<div class="col s12">
		   <h5 class="white-text">ToGather</h5>
		</div>		
	</div>

	<div class="row make-scroll">
		<div class="card col s12 m12 l7"  style="margin-right:1em;">
			<h3>This week</h1>
			<div class="col s12">
				<table class="striped">
					<thead>
						<tr>
			              <th>Sunday</th>
			              <th>Monday</th>
			              <th>Tuesday</th>
			              <th>Wednesday</th>
			              <th>Thursday</th>
			              <th>Friday</th>
			              <th>Saturday</th>
			            </tr>
					</thead>
					<tbody>
						<tr>
							<td>
								one
							</td>
							<td>
								one
							</td>
							<td>
								one
							</td>
						</tr>
						<tr>
							<td>
								one
							</td>
							<td>
								one
							</td>
							<td>
								one
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card col s12 m12 l4">
			<h3> News </h3>
		</div>
	</div>
</div>

<div><%= link_to 'New Event', new_event_path %></div>
<div><%= link_to 'Post', new_post_path %></div>