<div class="container" style="width:90%">
	<div class="row">
		<div class="col s12">
		   <h5 class="white-text">Togather</h5>
		</div>		
	</div>

	<div class="row">
		<div class="card col s7">
			<h3>This week</h1>
			<div class="col s12">
				<table class="striped">
					<thead>
						<tr>
			              <th data-field="id">Sunday</th>
			              <th data-field="name">Monday</th>
			              <th data-field="price">Tuesday</th>
			              <th data-field="price">Wednesday</th>
			              <th data-field="price">Thursday</th>
			              <th data-field="price">Friday</th>
			              <th data-field="price">Saturday</th>
			            </tr>
					</thead>
					<tbody>
						<tr>
							<td>
								one
							</td>
							<td>
								one
							</td>
							<td>
								one
							</td>
						</tr>
						<tr>
							<td>
								one
							</td>
							<td>
								one
							</td>
							<td>
								one
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card col s4" style="margin-left:1em;">
			<h3> News </h3>
		</div>
	</div>
</div>
