/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#gradside {
  background: orange; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, orange, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, orange, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, orange, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, orange, yellow); /* Standard syntax */
}

.extra-padding {
  padding-left: 5em;
  padding-right: 5em;
}

.fullsize {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

#gradup {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(yellow, orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(yellow, orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(yellow, orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(yellow, orange); /* Standard syntax */
}